@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

footer{
    padding-top: 50%;
    text-align: center;
}

main #parentprest {
    display: flex;
    flex-wrap: wrap;
  }


#pointv{
    color:#1ed79e ;
}

#vert{
    color: #1ed79e;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 16px;
}

hr{
    border: 1;
    color: white;
}
main p{
    color: grey
}

.present{
    display: flex;
    justify-content: center;
    align-items: center;
}

.present p {
    font-family: "Yeseva One", sans-serif;
    color: white;
    font-size: 50px;

}

main .contmain{
    display: flex;
    justify-content: center;
    align-items: center;

}

main .textm{
    width: 50%;

}

header p {
    color: white;
    font-size: 20px;
    font-family: "Yeseva One", sans-serif;
  }

.item{
    margin-left:100%;
    display: inline-flex;
    
}


body{
    background-color:#041821;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

p{
    color: white;
}