@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

footer{
    padding-top: 50%;
    text-align: center;
}

main #present {
    display: flex;
    flex-wrap: wrap;
  }


#pointv{
    color:#1ed79e ;
}

#vert{
    color: #1ed79e;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 18px;


}

.item{
    align-content: end;
    justify-self: end;
}

hr{
    border: 0.1;
    color: yellow;
}

main p{
    color: grey;
}

.present{
    display: flex;
    margin-left: 8%;
    margin-bottom: -2%;
}

.present p {
    font-family: "Yeseva One", sans-serif;
    color: white;
    font-size: 40px;


}

main .contmain{
    display: flex;
    margin-left: 8%;
    width: 45%;

}

main .textm{

   
    font-size: 17px;

}

header p {
    color: white;
    font-size: 20px;
    font-family: "Yeseva One", sans-serif;
  }

.item{
    margin-left:100%;
    display: inline-flex;
    
}


body{
    background-color:#041821;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

p{
    color: white;
}

main ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

main li{
    margin-right: 35px;
    text-align: center;
}

#vertliste{
    background-color: #1ed79e;
}

.grid {
    display: grid;
    gap: 1%;
}

.grid img{
    width: 15%;
    height: auto;
    display: block;
}

@media (max-width: 600px) {
    header {
        padding: 20px;
        align-items: center; /* Centre tous les éléments du header */
    }
}